{
  "plugins": [
    "transform-flow-strip-types"
  ],
  "presets": [
    "latest"
  ],
  "env": {
    "development": {
      "presets": [
        "power-assert"
      ],
      "plugins": [
        "istanbul"
      ]
    }
  }
}
